<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de Equipos</title>
    <link rel="stylesheet" href="/assets/css/aprovedequipos.css">
</head>
<body>

<header>
    <div class="logo">
        <img src="/assets/images/L.sena.png" alt="SENA Logo">
    </div>
    <nav>
        <a href="/templates/index.html">Inicio</a>
        <a href="/templates/verificar-qr.html">Verificar QR</a>
        <a href="/templates/Sesion.html">Cerrar Sesión</a>
    </nav>
</header>

</body>
</html>
